* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border: 1px solid red;/* da togliere */
}


.hero {
    border: 1px solid green; /* da togliere */
    background-image: url("../img/hero.jpg");
    background-size: cover; /* utile per la hero */
    background-position: center;
    min-height: calc(100vh - 60px);
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    flex-direction: column;
}


.about {
    border: 1px solid blue;/* da togliere */
    padding: 80px 5%;
}

.projects {
    border: 1px solid yellow;/* da togliere */
    padding: 80px 0;
    /*display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:40px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.projects-container {
    border: 3px solid black;/* da togliere */
    display: flex;
    flex-direction: column;
}

.project {
    border: 1px solid red;/* da togliere */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    text-align: center;
}

.image {
    border: 1px solid orange;/* da togliere */
    width: 100%;
    aspect-ratio: 1;
    max-width: 300px;
}

.contact {
    border: 1px solid black;/* da togliere */
    padding: 80px 0;
    min-height: 60vh;
}

.form {
    border: 1px solid purple;/* da togliere */
}

.footer {
    border: 1px solid red;/* da togliere */
/*    padding: 0 50px;*/
}

.footer ul {
    list-style-type: none;
}
/* Cambia colore al passaggio del mouse
.cta-button:hover {
    background-color: #4CAF50;  
    transition: background-color 0.3s ease;
}*/

.logo {
    height: 60px; /* oppure 50px se vuoi margine interno */
    display:flex;
    align-items:center;
    border: 1px solid red; /* da togliere */
}

.logo img {
    height: 100%;
    width: auto; /* mantiene le proporzioni reali */
}

.cta-button {
    padding: 12px 24px;
    background: #3bbf4f;
    border-radius: 6px;
    text-decoration:none;
    color:white;
    font-weight:600;
    transition:.3s;
}

.cta-button:hover {
    background:#2a9d42;
}

.footer {
    padding: 20px 0;
    text-align:center;
}
.footer ul{
    display:flex;
    gap:10px;
    justify-content:center;
}

.about h2, .contact h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: flex-start;
    padding: 5%;
}
