* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    border: 1px solid red;
    width: 100%;
    height: 60px;
}

.hero {
    border: 1px solid green;
}

.about {
    border: 1px solid blue;
}

.projects {
    border: 1px solid yellow;
}

.project {
    border: 1px solid red;
}

.image {
    border: 1px solid orange;
}

.contact {
    border: 1px solid black;
}

.form {
    border: 1px solid purple;
}

.footer {
    border: 1px solid red;
/*    padding: 0 50px;*/
}

.footer ul {
    list-style-type: none;
}

.cta-button:hover {
    background-color: #4CAF50; /* Cambia colore al passaggio del mouse */
    transition: background-color 0.3s ease;
}

.logo {
    height: 50%;
    width: auto;
}