* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    border: 1px solid red;/* da togliere */
    width: 100%;
    height: 60px;
}

.hero {
    border: 1px solid green;/* da togliere */
}

.about {
    border: 1px solid blue;/* da togliere */
}

.projects {
    border: 1px solid yellow;/* da togliere */
}

.project {
    border: 1px solid red;/* da togliere */
}

.image {
    border: 1px solid orange;/* da togliere */
}

.contact {
    border: 1px solid black;/* da togliere */
}

.form {
    border: 1px solid purple;/* da togliere */
}

.footer {
    border: 1px solid red;/* da togliere */
/*    padding: 0 50px;*/
}

.footer ul {
    list-style-type: none;
}

.cta-button:hover {
    background-color: #4CAF50; /* Cambia colore al passaggio del mouse */
    transition: background-color 0.3s ease;
}

.logo {
    height: 50%;
    width: auto;
    border: 1px solid red; /* da togliere */
}