* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    border: 1px solid red;
}

.hero {
    border: 1px solid green;
}

.about {
    border: 1px solid blue;
}

.projects {
    border: 1px solid yellow;
}

.project {
    border: 1px solid red;
}

.image {
    border: 1px solid orange;
}